
img#logo
{

    max-width: 100px;
    margin-left: -25px;
    

}

body
{
  font-family: "raleway";
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

h1
{
  font-size:x-large  ;
}

label
{
width: 125%;
}


p
{
  font-size: 95%; 
  
}

nav
{
  display: grid;
  grid-template:
      "logo inscrire"
      "hebergements activites";
      width: 100%;
/*         border:1px solid green; */
      justify-items:stretch;
}



nav a:hover
{
  border-top:2px solid transparent;
  text-align:center;
/*     border: 1px solid red; */
max-width: 380px;
  color:black;
}



nav a:hover
{
  border-bottom:2px  solid  rgb(0, 102, 255);
  
  
}


nav a:first-of-type
 {
  grid-area: logo;
  
}



nav a:first-of-type:hover
{
  border-top:2px solid transparent;
  
}



nav a:nth-of-type(2) 
{
  grid-area: hebergements;
  margin-top: 75px;
  margin-left: -135px;
  
}



nav a:nth-of-type(3) 
{
  grid-area: activites;
  margin-top: 75px;
  margin-left: 15px;
  
}



nav a:last-of-type 
{
  grid-area: inscrire;
  margin-top: 20px;
  margin-left: -115px;
}



@media screen AND (min-width:380px)
{
  nav
{
  grid-template: "logo  hebergements activites inscrire";
}


  nav a
{
      width:17%;
}



  nav a:first-of-type
{
    width: 50%;
}



section
{
    
    color: black;
    max-width: 380px;
    margin: auto;
    border: 1px solid white;
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1rem ;
    

}    
#populaires 
{
  background-color:#F2F2F2 ;
 

}

#activites article img {
  border-radius: 1rem 1rem 0 0;
  height: 8rem;
  width: 18rem;
  object-fit: cover;
  border: none;
}

footer
{
    background-color: #F2F2F2;
    color:black;
	  height: 605px;
    margin: auto;
    border: 1px solid white;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
    background-color:#F2F2F2 ;
    line-height: 30px;
    display: grid;
    max-width: 380px;
    
}





p.info::before
 {
  content: "\f129";
  font-family: "Font Awesome 5 Free";
  color:rgb(0, 102, 255);
  border: 1px solid grey;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}



.fa-chart-line 
{
  content: "f201 / 10f201";
  font-family: "Font Awesome 5 Free";
  color: black;
  display: inline-flex;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 1rem;
}


a 
{
  text-decoration: none;
  padding: 25px;
  color: rgb(0, 102, 255);
  float: right;
}


button 
{
  color: white;
  background-color: rgb(0, 102, 255);
  border: none;
  display: inline-flex;
  width: 5.5rem;
  height: 2.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 0 12px 12px 0;
  margin-right: 4rem;
}

input
{
  width: 10rem;
  height: 2.2rem;
  border: 1px solid #F2F2F2;
  margin-bottom: 15px;
}


label 
{
  display: flex;
  font-size: 1rem;
  margin: .4rem 0;
}


.fa-map-marker-alt
 {
  content: "f3c5";
  font-family: "Font Awesome 5 Free";
  border: none;
  display: inline-flex;
  width: 2.2rem;
  height: 2.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 12px 0 0 12px;
  background-color: #F2F2F2;
}



.fa-money-bill-wave 
{
  content: "\53a";
  font-family: "Font Awesome 5 Free";
  color: rgb(0, 102, 255);
  border: 1px solid grey;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}


.fa-child 
{
  content: "\f1ae";
  font-family: "Font Awesome 5 Free";
  color: rgb(0, 102, 255);
  border: 1px solid grey;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}



.fa-heart
 {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  color: rgb(0, 102, 255);
  border: 1px solid grey;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}


.fa-dog 
{
  content: "\f6d3";
  font-family: "Font Awesome 5 Free";
  color: rgb(0, 102, 255);
  border: 1px solid grey;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}

article
 {
  border-radius: 1rem;
  background-color: white;
  /* padding: 3px; */
  margin: 0 auto 15px auto;
  width: fit-content;
  box-shadow: 0 0 15px #b8b8b8;
}


article h3, article p, article div
 {
  padding: 0 1rem;
}


article img
 {
  border-radius: 1rem 1rem 0 0;
  height: 8rem;
  width: 16rem;
  object-fit: cover;
  border: 5px solid white;
}


#populaires article
 {
  display: grid;
  grid-template-columns: 6rem 13rem;
  grid-template-rows:  auto 25% 60%;
  width: 300px;
  height: 140px;
}


#populaires article img 
{
  height: 8rem;
  width: 6.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 1rem 0 0 1rem;
}


main section h2, main section>strong 
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}




.stars 
{
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  margin-bottom: 0.5rem;
}


.stars::before 
{
  color: rgb(0, 102, 255);
}


.stars::after
 {
  color: #F2F2F2;
}


.fiveStars::before
 {
  content: "\f005 \f005 \f005 \f005 \f005 ";
}


.fourStars::before
 {
  content: "\f005 \f005 \f005 \f005 ";
}


.fourStars::after
 {
  content: "\f005 ";
}


.threeStars::before
 {
  content: "\f005 \f005 \f005 ";
}


.threeStars::after
 {
  content: "\f005\f005 ";
}



section#populaires
 {
  width: 85%;
  border-radius: 1rem;
}




.filtre 
{
  border: 2px solid #F2F2F2;
  width: fit-content;
  display: inline-flex;
  border-radius: 1rem;
  align-items: center;
  padding-right: .5rem;
}


.filtre::before 
{
  background-color: rgb(203, 222, 231);
  width: 2rem;
  height: 2rem;
  display: flex;
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}


.filtre.eco::before 
{
  content: "\f53a";
  color: rgb(0, 102, 255);
}


.filtre.familial::before
 {
  content: "\f1ae";
  color: rgb(0, 102, 255);
}


.filtre.romantique::before 
{
  content: "\f004";
  color: rgb(0, 102, 255);
}


.filtre.animaux::before
 {
  content: "\f6d3";
  color: rgb(0, 102, 255);
}


div:hover 
{
  color: red;
}
