h1
{

}


section,footer
{
    background-color: white;
    color: black;
    
	

    width: 80%; 
    margin: auto; 
    border: 1px solid black;
    text-align: justify;
    padding: 12px;		
    margin-bottom: 20px;
    background-color: grey;
}    
    
a
{
    margin-right: 150px;
    padding-right: 200px
    
}

